---
---

@import "{{ site.theme }}";

.badges {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: auto;
}

section {
    
    @media(min-width: 960px) {
        width: calc(100% - 320px);
    }
}

